.Rproj.user
.Rhistory
.RData
.Ruserdata
data/**info2019.RData
stored_SAS_download.RData
output/
national_provincial_summaries.RData
GoogleDrive/
website/
Figures/
data/**info2020.RData
data/permit_lookup*
arch/



